<header>
  <nav class="navbar bg-dark" data-bs-theme="dark">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home">Home</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              {{#if usuario}}
              <a
                class="nav-link active"
                aria-current="page"
                href="/login/deslogar"
              >Sair</a>
              {{else}}
               <a
                class="nav-link active"
                aria-current="page"
                href="/login/entrar"
              >Login</a>
              {{/if}}
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Cliente
              </a>
              <ul class="dropdown-menu ">
                <li><a class="dropdown-item" href="/cadastro/cliente">cadastro
                    de cliente
                  </a></li>
                <li><a class="dropdown-item" href="/lista/cliente">lista de
                    cliente</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href=""></a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Barbeiro
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/cadastro/barbeiro">cadastro de Barbeiro
                  </a></li>
                <li><a class="dropdown-item" href="/lista/barbeiro">lista de barbeiro</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href=""></a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="">Agendar
                corte</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </nav>
</header>