<h1 class="text-center my-2" >Agendar horario</h1>

<div class="container">
            <form name="cadastro" action="/agendar/corte" method="post">  
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nome do cliente</label>
                <input  class="form-control" type="text" name="nomeCliente"  placeholder="Informe seu nome">
                </div>
                <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nome do barbeiro</label>
                <input class="form-control"type="text" name="nomeBarbeiro" placeholder="Informe o nome do barbeiro">
                </div>
                 <div class="mb-3">
                 <label for="exampleInputEmail1" class="form-label">Selecione a Data</label>
                 <input class="form-control" type="date" name="data" id="">
                 </div>
                 <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Selecione a hora</label>
                <input class="form-control" type="time" name="hora" id="">
                </div>
                <div class="mb-5">
                <button class="btn btn-success" type="submit" id="buttonCadastro">Agendar Horario</button>
                </div>
            </form>
        </div>