<h1 class="text-center my-2" >Realize o cadastro do barbeiro</h1>

    <div class="container">
            <form name="cadastro" action="/cadastro/barbeiro" method="post">
                <div class="mb-3"">
                <label for="exampleInputEmail1" class="form-label">Nome</label>
                <input  class="form-control" type="text" name="nome" id="nome" placeholder="Informe seu nome">
                </div>
                <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input  class="form-control" type="email" name="email" id="email" placeholder="Informe seu email">
                </div>
                <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Telefone</label>
                <input  class="form-control" type="tel" name="telefone" id="email" placeholder="Informe seu telefone">
                </div>
                <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Informe o corte de sua especialidade </label>
                <select name="especialidade" class="form-select" aria-label="Default select example">
                <option value="Degrade">Degrade</option>
                <option value="Maquina 0">Maquina 0</option>
                <option value="Maquina 1">Maquina 1</option>
                </select>
                </div>
                <div class="mb-5">
                <button class="btn btn-success" type="submit" id="buttonCadastro">Salvar Cadastro</button>
                </div>
            </form>
        </div>

